{% comment %}
<!-- Example from Facebook -->
<!-- <a 
		name="fb_share" 
		type="button"  # Can be button, button_count or box_count (box_count is above, button_count is inline)
		href="http://www.facebook.com/sharer.php">Share</a>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script> 
	-->
{% endcomment %}
    <a 
        name="fb_share" 
        type="{{ instance.style }}"  # Can be button, button_count or box_count (box_count is above, button_count is inline)
        href="http://www.facebook.com/sharer.php"
        {% if instance.share_url %}
        share_url="{{instance.share_url}}" 
        {% endif %}>{{instance.button_text}}</a>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>